<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="ontainer">
            <div class="jumbotron">

                <h1>Welcome to
                    <%= title %> Page</h1>
            </div>
            <h2>About Me</h2>
            <p>Name: Duy Lap Nguyen</p>
            <img src="/img/profile.jpg" alt="Profile Picture" width="200px" height="200px">
            <p>I am a passionate web developer with experience in front-end and back-end development.</p>

            <a href="/file/resume.pdf">Download Resume</a>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>