<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="ontainer">
            <div class="jumbotron">

                <h1>Welcome to
                    <%= title %> Page</h1>
            </div>
            <h2>Projects</h2>
            <div class="project">
                <img src="/img/project.png" alt="Project 1">
                <h3>WebDevPro</h3>
                <p>WebDevPro is a comprehensive project aimed at empowering web developers and fostering a collaborative environment to enhance their skills and knowledge.<br> This project provides a platform for web developers of all levels of expertise
                    to connect, learn, and grow together. <br>It offers a range of resources, tools, and opportunities for professional development, enabling developers to stay up to date with the latest trends and technologies in the ever-evolving web
                    development landscape.</p>
                <p>WebDevPro aims to empower web developers by fostering a supportive and collaborative community, providing continuous learning opportunities, and facilitating professional growth.<br> Whether you are a beginner seeking guidance or an experienced
                    developer looking to expand your skills, WebDevPro is your go-to project for all things web development. <br>Join the community, explore the resources, connect with fellow developers, and unlock your full potential as a web developer.</p>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>